html {
  width: 100vw;
  height: 100vh;

  overflow: hidden;

  font-family: Arial;

  body {
    margin: 0;

    width: 100vw;
    height: 100vh;

    overflow: hidden;

    display: flex;
    justify-content: center;
    align-content: center;

    .wrapper {
      width: 1000px;

      display: flex;
      justify-content: center;
      align-items: center;

      form {
        width: 500px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 16px;

        box-shadow: 0 0 4px #0006;

        padding: 20px;

        border-radius: 10px;

        label {
          display: flex;
          flex-direction: column;
          gap: 4px;

          select, input {
            padding: 6px;

            border-radius: 8px;
            border: 1px solid #0006;
          }

          textarea {
            padding: 6px;

            height: 120px;
            resize: none;

            border-radius: 10px;
            border: 1px solid #0006;
          }
        }

        button {
          cursor: pointer;
          
          background-color: #9aff57;

          font-size: 18px;

          border: 0;
          border-radius: 8px;

          padding: 6px;
        }
      }
    }
  }
}
